@import "../variable";

.calendar {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  width: 706px;

  div {
    display: flex;
    justify-content: center;
    line-height: $blockDayHeight;
    width: $blockDayWidth;
    height: $blockDayHeight;
    margin-left: 1px;
    margin-bottom: 1px;

    background-color: #eee;
    border: 1px solid;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      background-color: pink;
      transform: translateY(-20px);
    }
  }
}
